<!DOCTYPE html>
<html>
  <%- include('head.ejs'); %>
  <body>
    <%- include('nav.ejs'); %>
    <%- include('content.ejs'); %>
    <%- include('footer.ejs'); %>
  </body>
  <script src="scripts/index.js"></script>
</html>